@model Quick5.Models.EdiSite

@{
    ViewBag.Title = "Sites / " + Model.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_List", Model.AsList())

<h3>Accord</h3>

@Html.Partial("../EdiAccords/_List", Model.EdiAccord.AsList())

<h3>Client</h3>

@Html.Partial("../Clients/_List", Model.Client.AsList())

<h3>Qualifications</h3>

@Html.Partial("../EdiQualifications/_List", Model.Qualifications)
