@model IEnumerable<Quick5.Models.Commune>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Nom</th>
        <th>Insee</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Bloqué?</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "Communes", new { id = item.Commune_ID }, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
        <td>@Html.DisplayFor(modelItem => item.Insee)</td>
        <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
        <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
        <td>@Html.DisplayFor(modelItem => item.EstBloque)</td>
    </tr>
}
</tbody>
</table>