@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Quick5</title>

    <!-- Le styles -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        table th.iconwidth,
        table td.iconwidth
        {
            width: 28px;
        }
        .table-hover tbody tr:hover > td
        {
            background-color: #ffffcc; /* jaune postit */
        }
    </style>
    <link rel="stylesheet" href="~/Content/gh-fork-ribbon.css" />
    <!--[if IE]>
        <link rel="stylesheet" href="~/Content/gh-fork-ribbon.ie.css" />
    <![endif]-->
    <!-- Le HTML5 modernizr, for IE6-8 support of HTML5 elements -->
    <script src="~/Scripts/modernizr-2.7.1.js"></script>
</head>
<body>

    @if (Html.IsDbProduction()) {
    <!-- https://github.com/simonwhitaker/github-fork-ribbon-css -->
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="#">Base de Production</a>
        </div>
    </div>
    }

    <header class="navbar navbar-inverse navbar-static-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quick5", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <nav class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    @Html.Bootstrap().NavLink("Sirens", "Index", "Sirens", null)
                    @Html.Bootstrap().NavLink("Clients", "Index", "Clients", null)
                    @Html.Bootstrap().NavLink("Agences", "Index", "Agences", null)
                    @Html.Bootstrap().NavLink("Accords", "Index", "EdiAccords", null)
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    @using (Html.BeginForm("Index", "Sirens", FormMethod.Get, new { @class="navbar-form", @role="search" }))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="qs" id="qs">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
            </nav>
        </div>
    </header>

    <div class="container">

        @RenderSection("featured", required: false)

        <section class="row">
            @RenderBody()
        </section>

        <footer class="hidden-print">
            <p>&copy; @DateTime.Now.Year - Quick5</p>
        </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
