@model IEnumerable<Quick5.Models.PxGroupe>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Nom</th>
        <th>Siren</th>
        <th>Code</th>
        <th>Du</th>
        <th>Au</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "PxGroupes", new { id = item.Groupe_ID }, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
        <td>@Html.DisplayFor(modelItem => item.NSiren)</td>
        <td>@Html.DisplayFor(modelItem => item.Code)</td>
        <td>@Html.DisplayFor(modelItem => item.Debut)</td>
        <td>@Html.DisplayFor(modelItem => item.Fin)</td>
    </tr>
}
</tbody>
</table>
