@model IEnumerable<Quick5.Models.Client>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Nom</th>
        <th>Siret</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Type</th>
        <th>Bloqué?</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "Clients", new { id = item.Client_ID }, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.Nom)</td>
        <td>@Html.DisplayFor(modelItem => item.NSiret)</td>
        <td>@Html.DisplayFor(modelItem => item.CodePostal)</td>
        <td>@Html.DisplayFor(modelItem => item.Ville)</td>
        <td>@Html.DisplayFor(modelItem => item.Type)</td>
        <td>@Html.DisplayFor(modelItem => item.EstBloque)</td>
    </tr>
}
</tbody>
</table>