@model Quick5.Models.Client

@{
    ViewBag.Title = "Clients / " + Model.Nom;
}

<h2>
    @ViewBag.Title
    @Html.Partial("_SearchBox")
</h2>

@Html.Partial("_List", Model.AsList())

<h3>Siren</h3>

@Html.Partial("../Sirens/_List", Model.Siren.AsList())

@if (Model.Garantie.Garantie_ID == 0) {
    <h3>Garantie <small>(@Html.ActionLink("Créer en copiant la garantie d'un autre client de ce siren", "Copy", "Garanties", new { id = 0, Model.Client_ID }, null))</small></h3>
} else {
    <h3>Garantie</h3>
}

@Html.Partial("../Garanties/_Item", Model.Garantie)
