@model IEnumerable<Quick5.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>@ViewBag.Title</h2>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th>Nom</th>
        <th>Siret</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Type</th>
        <th>Bloqué?</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayTextFor(modelItem => item.Nom)</td>
        <td>@Html.DisplayTextFor(modelItem => item.Siret)</td>
        <td>@Html.DisplayTextFor(modelItem => item.CodePostal)</td>
        <td>@Html.DisplayTextFor(modelItem => item.Ville)</td>
        <td>@Html.DisplayTextFor(modelItem => item.Type)</td>
        <td>@Html.DisplayTextFor(modelItem => item.EstBloque)</td>
    </tr>
}
</tbody>
</table>