@model Quick5.Models.Siren

@{
    ViewBag.Title = "Sirens / " + Model.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_List", Model.AsList())

<h3>Clients</h3>

@Html.Partial("../Clients/_List", Model.Clients)

<h3>Garanties</h3>

@Html.Partial("../Garanties/_List", Model.Garanties)

<h3>Décisions</h3>

@Html.Partial("../Decisions/_List", Model.Decisions)
