@model List<object[]>

@{
    ViewBag.Title = "Tables / " + ViewBag.TableName.ToLower();
}

<h2>
    @ViewBag.Title / Contenu
    <span class="pull-right">@Html.ActionLink("description", "Details", new { id = @ViewBag.TableName })</span>
</h2>

<div class="table-scrollable">
<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        @foreach (var col in Model.First()) {
        <th>@col.ToString().ToLower()</th>
        }
    </tr>
</thead>
<tbody>
@foreach (var line in Model.Skip(1))
{
    <tr>
        @foreach (var col in line) {
        <td>@col</td>
        }
    </tr>
}
</tbody>
</table>
</div>
