@model IEnumerable<Quick5.Models.Garantie>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th class="hidden-print"></th>
        <th>Garantie</th>
        <th>Montant</th>
        <th>Complément</th>
        <th>Interne</th>
        <th>Oal</th>
        <th>Cap</th>
        <th>Montant</th>
        <th>Déblocage</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <th class="hidden-print iconwidth">@Html.ActionLink(" ", "Details", "Garanties", new { id = item.Garantie_ID}, new { @class="glyphicon glyphicon-play" })</th>
        <td>@Html.DisplayFor(modelItem => item.GarOption)</td>
        <td>@Html.DisplayFor(modelItem => item.GarMontant)</td>
        <td>@Html.DisplayFor(modelItem => item.CplMontant)</td>
        <td>@Html.DisplayFor(modelItem => item.IntMontant)</td>
        <td>@Html.DisplayFor(modelItem => item.OalMontant)</td>
        <td>@Html.DisplayFor(modelItem => item.CapOption)</td>
        <td>@Html.DisplayFor(modelItem => item.CapMontant)</td>
        <td>@Html.DisplayFor(modelItem => item.Deblocage)</td>
    </tr>
}
</tbody>
</table>
