@model Quick5.Models.Garantie

@{
    ViewBag.Title = "Garantie / " + Model.Client.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("../Clients/_List", new List<Quick5.Models.Client>() { Model.Client })

<h3>Siren</h3>

@Html.Partial("../Sirens/_List", new List<Quick5.Models.Siren>() { Model.Siren })

<h3>Garantie</h3>

<table class="table table-condensed table-striped table-hover">
<thead>
    <tr>
        <th>Garantie</th>
        <th>Date</th>
        <th>Option</th>
        <th>Montant</th>
        <th>Début</th>
        <th>Fin</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Principale</td>
        <td>@Html.DisplayTextFor(m => m.GarDate)</td>
        <td>@Html.DisplayTextFor(m => m.GarOption)</td>
        <td>@Html.DisplayTextFor(m => m.GarMontant)</td>
        <td>@Html.DisplayTextFor(m => m.GarDebut)</td>
        <td>@Html.DisplayTextFor(m => m.GarFin)</td>
    </tr>
    <tr>
        <td>Complémentaire</td>
        <td></td>
        <td></td>
        <td>@Html.DisplayTextFor(m => m.CplMontant)</td>
        <td>@Html.DisplayTextFor(m => m.CplDebut)</td>
        <td>@Html.DisplayTextFor(m => m.CplFin)</td>
    </tr>
    <tr>
        <td>Interne</td>
        <td></td>
        <td></td>
        <td>@Html.DisplayTextFor(m => m.IntMontant)</td>
        <td>@Html.DisplayTextFor(m => m.IntDebut)</td>
        <td>@Html.DisplayTextFor(m => m.IntFin)</td>
    </tr>
    <tr>
        <td>OAL</td>
        <td></td>
        <td></td>
        <td>@Html.DisplayTextFor(m => m.OalMontant)</td>
        <td>@Html.DisplayTextFor(m => m.OalDebut)</td>
        <td>@Html.DisplayTextFor(m => m.OalFin)</td>
    </tr>
    <tr>
        <td>CAP</td>
        <td></td>
        <td>@Html.DisplayTextFor(m => m.CapOption)</td>
        <td>@Html.DisplayTextFor(m => m.CapMontant)</td>
        <td>@Html.DisplayTextFor(m => m.CapDebut)</td>
        <td>@Html.DisplayTextFor(m => m.CplFin)</td>
    </tr>
    <tr>
        <td>Déblocage</td>
        <td></td>
        <td></td>
        <td>@Html.DisplayTextFor(m => m.Deblocage)</td>
        <td></td>
        <td></td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <th>Total</th>
        <th></th>
        <th></th>
        <td>@Html.DisplayTextFor(m => m.Totale)</td>
        <th></th>
        <th></th>
    </tr>
</tfoot>
</table>
