@model Quick5.Models.Garantie

@{
    ViewBag.Title = "Garantie / " + Model.Client.Nom;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("../Clients/_List", Model.Client.AsList())

<h3>Siren</h3>

@Html.Partial("../Sirens/_List", Model.Siren.AsList())

<h3>Garantie <small>(@Html.ActionLink("Remplacer par la garantie d'un autre client de ce siren", "Edit", new { id = Model.Garantie_ID }))</small></h3>

@Html.Partial("_Item", Model)


